name: Maven build example

on:
  push:
    paths:
      - 'example/**'
      - '.github/workflows/*example*'
  pull_request:
    paths:
      - 'example/**'
      - '.github/workflows/*example*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-v17-${{ secrets.CACHE_VERSION }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2-v17-${{ secrets.CACHE_VERSION }}

      - name: Install library
        run: mvn -B -ntp install

      - name: Build example project
        working-directory: ./example
        run: mvn -B -ntp package
