name: Deploy to GitLab Package Repository # Github Packages

on:
  release:
    types: [ created ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 21

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-v8-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2-v8

      - name: Deploy to GitLab Package Repository # GitHub Packages
        env:
          GITLAB_DEPLOY_TOKEN: ${{ secrets.GITLAB_DEPLOY_TOKEN }} # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn --batch-mode -s .github/gitlab-mvn-settings.xml deploy
